@import 'tailwindcss';

@font-face {
  font-family: 'Inter:Bold';
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Inter:Regular';
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Plus Jakarta Sans:Bold';
  src: url('https://static.figma.com/font/PlusJakartaSans_wght__2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Plus Jakarta Sans:ExtraBold';
  src: url('https://static.figma.com/font/PlusJakartaSans_wght__2') format('woff2');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Plus Jakarta Sans:Medium';
  src: url('https://static.figma.com/font/PlusJakartaSans_wght__2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Plus Jakarta Sans:Regular';
  src: url('https://static.figma.com/font/PlusJakartaSans_wght__2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Plus Jakarta Sans:SemiBold';
  src: url('https://static.figma.com/font/PlusJakartaSans_wght__2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  background: #f3eef1;
  color: #111827;
}

button,
a {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}
